{% extends "challenge.html" %}

{% block description %}
    <!-- jinja variable for the challenge description -->
    {{ challenge.html }}

    <!-- code runner section -->
    <div class="row my-3">
        <div class="col-12 form-group">
            <p class="mb-0">Enter your code here:</p>
            <textarea id="coderunner" class="challenge-input form-control form-group" type="text" rows="15" ></textarea>
            <button class="btn btn-md btn-outline-secondary text-light w-100 mt-2" onclick="run_code()">Run Code</button>
            <p class="mt-2 mb-0">Output:</p>
            <textarea id="coderunner-output" class="challenge-input form-control form-group" type="text" rows="5" readonly></textarea>
            <p class="mt-2 mb-0">Errors:</p>
            <textarea id="coderunner-errors" class="challenge-input form-control form-group" type="text" rows="5" readonly></textarea>
        </div>
    </div>

    <!-- dif to insert codesubflags and attached hints -->
    <div id="codesubflags" name="codesubflags"> </div>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css" integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
